bitstring==3.1.6
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
enum34==1.1.6
Flask==1.0.3
futures==3.1.1
google-api-core==1.11.1
google-auth==1.6.3
google-cloud-vision==0.37.0
googleapis-common-protos==1.6.0
grpcio==1.21.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
lifxlan==1.2.5
MarkupSafe==1.1.1
netifaces==0.10.9
picamera==1.13
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-crontab==2.3.6
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
rsa==4.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
