.weekDays-selector input {
    display: none!important;
}
  
.weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
}

body {
    font-family: monospace;
    margin-top: 25%;
}
