{% extends "base.html" %}
{% block content %}
    <div class="container justify-content-center">
	    <h2 class="text-center">list of alarms</h2>  
		<div class="d-flex justify-content-center">
		<ul>
		{% for alarm_comment in crons %}
			<div class="card border-primary mb-3" style="max-width: 18rem;"> 
				<div class="card-body text-center">
					<form action="{{ url_for('remove_alarm') }}" method=post>
						<input class="text-center" type="text" value="{{ alarm_comment }}" name="comment" readyonly/>
                		<input class="btn btn-primary m-3" type="submit" value="delete"/>
					</form>
				</div>
			</div>
		{% endfor %}
		</ul>
		</div>
		<form action="{{ url_for('add_new_alarm') }}" method=get>
			<div class="card-body text-center">
				<input class="btn btn-primary mx-3" type="submit" value="add new alarms"/> 
			</div>
		</form>
	</div>

{% endblock %}
